<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ClientId</key>
	<string>BPdWoOWu8Nk743CSr1vaqcY0edE0Rh2VJtDX9b8CT_0FQZyNpMILG2ZUP1cTo4Vw9By51iTdzOUV945Mb6q6fdg</string>
	<key>Network</key>
	<string>sapphire_devnet</string>
	<key>RedirectUrl</key>
	<string>com.app.solo.Memorabilia://auth</string>
</dict>
</plist>
